@model TaskManager.Models.TaskItem

<h1>@Model.Title</h1>

<p>@Model.Descripcion</p>

<p>Fecha de creacion : @Model.CreatedAt</p>

@if (Model.IsCompleted)
{
    <p>Estado: Completada</p>
}
else
{
    <p>Estado: Pendiente</p>
}
