@model List<TaskManager.Models.TaskItem>

<h1>Tareas desde la base de datos</h1>

<ul>
    @foreach(var task in Model)
    {
        <li> 
            <strong>@task.Title</strong> - @task.Descripcion - 
        </li>
    }
</ul>